:root {
    --x: 0px;
    --y: 0px;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.row {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-top: 16px;
}

button {
    padding: 10px 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #fff;
}

button.primary {
    background: black;
    color: white;
}

button:disabled {
    background: #666;
    color: white;
}


.level-screen {
    position: relative;
    width: 100vw;
    height: 100dvh;
    /* respect mobile dynamic bars */
    overflow: hidden;
}

.gui-container {
    position: fixed;
    inset: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    gap: 12px;
    padding: 16px;
    /* above the stage */
    /* background: rgba(255, 255, 255, 0.7); /* light glassy overlay */
    /* backdrop-filter: blur(8px); */
    border-right: 1px solid rgba(0, 0, 0, .08);
}

.image-container {
    position: fixed;
    inset: 0;
    z-index: 0;
}

.image-container img {
    position: absolute;
    height: 100%;
}

#bottom {
    left: 50%;
    transform: translate(-50%, 0);
}

#top-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200vmax;
    /* use vmax so it’s large in both axes */
    height: 200vmax;
    transform: translate(-50%, -50%) rotate(var(--angle, 0deg));
    transform-origin: center center;
    will-change: transform;
    /* mix-blend-mode: multiply; */
}

#top {
    position: absolute;
    inset: 0;
    /* fill wrapper */
    /* background-image: url("/assets/img/topv3.png"); */
    background-repeat: repeat;
    /* pick one that matches your tile */
    /* background-size: 256px 256px;  // 固定像素砖块 */
    background-size: auto 100vh;
}

.title-box {
    border-radius: 48px;
    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);

    padding: 16px 32px;
    display: inline-block;
}

.title-box h2 {
    margin: 0;
    /* 去掉 h2 默认的外边距 */
    /* font-size: 24px; 你可以调整大小 */
    font-weight: 600;
    text-transform: uppercase;
}

@font-face {
    font-family: "ANDALEMO";
    src: url("assets/font/ANDALEMO.TTF") format("opentype");
    font-weight: 200;
    font-style: normal;
}

.level-title {
    color: #ffffff;
    font-family: "ANDALEMO", monospace;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#nextBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(226, 226, 226, 0.54);
    backdrop-filter: blur(6.5px);
    border: none;
    outline: none;
    cursor: pointer;
}

.muted {
    position: fixed;
    bottom: 16px;
    /* 离底部 16px */
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    /* 灰色文字 */
    font-size: 14px;
}